<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href={{closestMeetup.link}}>{{closestMeetup.name}}</a>
      </h1>
      <h2 class="subtitle">
        {{meetupDate}} <br />
        {{closestMeetup.venue.name}} <br/>
        <a href="http://maps.google.com/?q={{closestMeetup.venue.address_1}}" target="_blank">
          {{closestMeetup.venue.address_1}}
        </a>
      </h2>
    </div>
  </div>
</section>
